<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <title>ListenOra || Free Music App</title>
</head>

<body>

    <!-- navigation Bar -->
    <nav>
        <!-- left nav -->
        <div class="left-nav">
            <img src="/images/logo.png" alt="">
        </div>



        <!-- right nav -->
        <div class="right-nav">
            <ul>
                <li> <a href="">Home</a></li>
                <li> <a href="">About</a></li>
                <li><img src="/images/rightLogoImage.jpg" alt=""></li>
            </ul>
        </div>
    </nav>
    <!-- main body -->
    <section>
        <div class="songContainer">
            <div class="songList">

                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">4:01<i
                                class="far fa-play-circle songItemsPlay " id="1"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">03:29<i
                                class="far fa-play-circle songItemsPlay " id="2"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">04:20<i
                                class="far fa-play-circle songItemsPlay " id="3"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">03:20<i
                                class="far fa-play-circle songItemsPlay " id="4"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">04:02<i
                                class="far fa-play-circle songItemsPlay " id="5"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">04:01<i
                                class="far fa-play-circle songItemsPlay " id="6"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">04:12<i
                                class="far fa-play-circle songItemsPlay " id="7"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">03:12<i
                                class="far fa-play-circle songItemsPlay " id="8"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">04:21<i
                                class="far fa-play-circle songItemsPlay " id="9"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">04:12<i
                                class="far fa-play-circle songItemsPlay " id="10"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">04:45<i
                                class="far fa-play-circle songItemsPlay " id="11"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">03:45<i
                                class="far fa-play-circle songItemsPlay " id="12"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">4:01<i
                                class="far fa-play-circle songItemsPlay " id="13"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">4:21<i
                                class="far fa-play-circle songItemsPlay " id="14"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">4:24<i
                                class="far fa-play-circle songItemsPlay " id="15"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">4:45<i
                                class="far fa-play-circle songItemsPlay " id="16"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">4:34<i
                                class="far fa-play-circle songItemsPlay " id="17"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">4:28<i
                                class="far fa-play-circle songItemsPlay " id="18"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">4:19<i
                                class="far fa-play-circle songItemsPlay " id="19"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">03:21<i
                                class="far fa-play-circle songItemsPlay " id="20"></i></span></span>
                </div> 
                <div class="songItem">
                    <img src="/images/cover.jpg" alt="image">
                    <span class="songName">Waaliyaan - harnoor/the kid</span>
                    <span class="songListPlay"><span class="timeStamp">04:23<i
                                class="far fa-play-circle songItemsPlay " id="21"></i></span></span>
                </div> 

            </div>
            <div class="gifBanner">
                <img src="/images/musicGIF.gif" alt=""  id="Gif">

            </div>

        </div>

    </section>

    <footer>
        <div class="bottom">
            <div class="icon">

                <img src="/images/previous.png" alt="" id="previous">
                <img src="/images/play-icon.png" alt=""   id="MasterPlay">
                <img src="/images/pause-icon.png" alt="" id="Pause">
                <img src="/images/forward.png" alt="" id="next">
            </div>
            <input type="range" name="range" id="myProgressBar" min="0" max="100" value="0">
        </div>
    </footer>












































































    <script src="https://kit.fontawesome.com/6cfc7cc49e.js" crossorigin="anonymous"></script>

    <script src="Index.js"></script>
</body>

</html>